In [1]:
import pandas as pd

#2 main datatypes

In [3]:
series=pd.Series(["BMW","Toyota","Honda"])

In [4]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [5]:
# series is one dimensional

In [6]:
colours=pd.Series(["Red","Blue"])

In [7]:
colours

0     Red
1    Blue
dtype: object

In [8]:
# df is 2-d whree series is 1-D

In [9]:
car_data=pd.DataFrame({"car make": series,"Color":colours})

In [10]:
car_data

  car make Color
0      BMW   Red
1   Toyota  Blue
2    Honda   NaN

In [11]:
# import data

In [13]:
  car_sales=pd.read_csv("car-sales.csv")